.background-image-vechung-toi {
  position: relative;
  width: 100%;
  /* height: 100vh;  */
  background: linear-gradient(
    to right,
    rgb(255, 255, 255, 1),
    rgba(255, 255, 255, 0.95) 40%,
    rgba(255, 255, 255, 0.9) 45%,
    rgba(255, 255, 255, 0.85) 55%,
    rgba(255, 255, 255, 0.8) 65%,
    rgba(255, 255, 255, 0.6) 75%,
    rgba(255, 255, 255, 0.5) 85%,
    rgba(255, 255, 255, 0.2) 95%
  );
}
