.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 40px 0;
    gap: 0.25rem;
  }
  
  .pagination .page-item {
    margin: 0 5px;
  }
  
  .pagination .page-link {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 33.6px;
    height: 33.6px;
    text-decoration: none;
    border: 1px solid #5D5D5D;
    border-radius: 100%;
    color: #5D5D5D;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .pagination .page-link:hover {
    background-color: #00548F;
    color: #fff;
  }
  
  .pagination .active .page-link {
    background-color: #00548F;
    color: white;
    border-color: #00548F;
  }
  